body {
  background: url(http://s3.foxfilm.com/foxmovies/dev/films/107/assets/bg-texture4.jpg-9138912608.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 50px;
}

.jumbotron {
/*   background-color: #E4DAB9; */
  background-color: #0F0000;
  box-shadow: 0px 10px 30px 5px #000;
  padding-bottom: 0px;
}

p {
  color: green;
}

.thumbnail {
  border-radius: 80%;
  margin: 100px;
  height: 600px;
  width: 800px;
}
